[submodule "rt-thread-am"]
	path = rt-thread-am
	url = https://github.com/WAAutoMaton/ysyx-rt-thread
[submodule "am-kernels"]
	path = am-kernels
	url = https://github.com/WAAutoMaton/ysyx-am-kernels
[submodule "fceux-am"]
	path = fceux-am
	url = https://github.com/WAAutoMaton/ysyx-fceux-am
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = https://github.com/WAAutoMaton/ysyxSoC
